[data-testid="block-container"] {
    padding-top: 1rem;
    padding-bottom: 0rem;
    margin-bottom: -7rem;
    padding-left: 50px;
    padding-right: 50px;
}

[data-testid="stMetric"] {
    border: 2px solid;
    border-radius: 10px;
    background-color: #e8e6e3;
    border-color: #000000;        
    text-align: center;
    font-size: 22px !important;
    font-weight: bold !important;
    font-family:'Arial Black';
}

[data-testid="stMetricLabel"] {
    display: flex;
    justify-content: center;
    align-items: center;
}
            
[data-testid="stMetricValue"] {
    font-size: 20px;
}

[data-testid="stMetricDeltaIcon-Up"] {
    font-size: 12px;
    position: relative;
    left: 45%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    
}

[data-testid="stMetricDeltaIcon-Down"] {
    font-size: 12px;
    position: relative;
    left: 45%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
            
[data-testid="stMetricDelta"] {
    font-size:  15px;
}
            
[data-baseweb="tab-list"] {
    gap: 4px;
}

[data-baseweb="tab"] {
    height: 30px;
    width: 1000px;
    white-space: pre-wrap;
    background-color: #A29F99;
    border-radius: 4px 4px 0px 0px;
    gap: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight:1000;
    font-family:'Arial Black';
}
